@media (min-width: 600px) {
  :host {
    width: 30em;
  }
}
@media (max-width: 600px) {
  :host {
    width: 100%;
  }
}
:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 1em;
  background-color: rgb(238, 242, 241);
  input {
    width: 100%;
    height: 2em;
    padding: 0.3em;
    border: none;
    border-radius: 0.2em;
    box-shadow: 0 0 0.2em 0.1em rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    &:focus {
      outline: none;
      box-shadow: 0 0 0.5em 0.2em rgba(100, 100, 100, 0.42);
    }
  }
  ::-webkit-input-placeholder {
    font-style: italic;
    color: rgb(171, 180, 177);
  }
  ::-moz-placeholder {
    font-style: italic;
    color: rgb(171, 180, 177);
  }
  :-ms-input-placeholder {
    color: rgb(171, 180, 177);
    font-style: italic;
  }
}
