$transition: 0.5s;
$base-color: #c6538c;
$border-dark: rgba($base-color, 0.88);

* {
  font-family: Cascadia Code, monospace;
  box-sizing: border-box;
}

body {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;
  // height: 100vh;
}
